<!DOCTYPE html>
<html>
<title>SWOTLab</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body {font-family: "VERDANA", sans-serif;}
body, html {height: 100%}
.bgimg {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-animate-opacity w3-text-black">
  <div class="w3-display-middle">
    <img style="width:100%;max-width:200%;height:auto;" src = "https://njnvwg.stripocdn.email/content/guids/CABINET_bd9fef9fd18f96de7115a760843285d4/images/911611149242628.png">
    <hr class="w3-border-grey" style="margin:auto;width:60%;margin-top:5%">
    <p class="w3-large w3-center">
      {% if success %} You have confirmed your account! <br/> You can close this page now {% else %} Error, invalid
      token! {% endif %}
    </p>
</div>

</body>
</html>
